## 최종본 dataset check용 코드

In [1]:
# import modules
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from pandas.io import sql
import datetime
import pandas as pd
import pandasql as ps

In [2]:
# reading 
now = datetime.datetime.now() 
print('시작:', now)

df1 = pd.read_csv('./final/first.txt', sep='\t')
df2 = pd.read_csv('./final/second.txt', sep='\t')
df3 = pd.read_csv('./final/third.txt', sep=',')
# four는 3분할 된 파일중 하나를 불러옵니다
df4 = pd.read_csv('./final/four/final_four_33.txt', sep='\t')

df5_pub_all_year = pd.read_csv('./final/five/five_pub_allyear.txt', sep='\t')
df5_pub_all_year_wide = pd.read_csv('./final/five/five_pub_allyear_wide.txt', sep='\t')
df5_pub_by_year = pd.read_csv('./final/five/five_pub_by_year.txt', sep='\t')
df5_pub_by_year_wide = pd.read_csv('./final/five/five_pub_by_year_wide.txt', sep='\t')

now = datetime.datetime.now()
print('종료:', now)

시작: 2024-03-15 09:22:14.643237

FileNotFoundError: [Errno 2] No such file or directory: './final/five/five_pub_allyear.txt'

In [3]:

df5_pub_all_year = pd.read_csv('./final/five/cluster_cate_weight_publevel/five_pub_allyear.txt', sep='\t')
df5_pub_all_year_wide = pd.read_csv('./final/five/cluster_cate_weight_publevel/five_pub_allyear_wide.txt', sep='\t')
df5_pub_by_year = pd.read_csv('./final/five/cluster_cate_weight_publevel/five_pub_by_year.txt', sep='\t')
df5_pub_by_year_wide = pd.read_csv('./final/five/cluster_cate_weight_publevel/five_pub_by_year_wide.txt', sep='\t')

### 데이터 타입 일치 체크
결측값을 드롭하지 않고 각 컬럼 내의 데이터 타입 일관성을 검사하는 것도 가능합니다. 하지만, Pandas에서 결측값(NaN)은 float 타입으로 취급되므로, 숫자형 컬럼에 결측값이 포함되어 있으면 해당 컬럼의 데이터 타입이 float로 인식될 수 있습니다. 이는 데이터 타입 일관성을 검사할 때 고려해야 할 중요한 점입니다.  
  
결측값의 존재 자체가 문제가 되는 것이 아니라, 결측값으로 인해 데이터 타입이 변환되거나 예상치 못한 데이터 타입이 포함되는 경우에 주의해야 합니다. 예를 들어, 정수형 컬럼에 결측값이 하나라도 포함되면, 해당 컬럼 전체가 부동소수점형(float)으로 변환됩니다.  
  
결측값을 드롭하지 않고 데이터 타입 일관성을 검사할 경우, 주로 컬럼의 dtype을 직접 검사합니다. 이 방법은 결측값의 존재 여부에 관계없이 컬럼의 데이터 타입을 확인할 수 있게 해줍니다.

In [25]:
now = datetime.datetime.now() 
print('시작:', now)



# 각 컬럼별로 데이터 타입 일관성 체크
for column in df1.columns:
    # 결측값이 아닌 유니크한 값들의 타입 체크
    unique_types = set(type(v) for v in df1[column].dropna().unique())
    
    # 일관성 결과 출력
    if len(unique_types) > 1:
        print(f"컬럼 '{column}'은(는) 여러 타입을 포함하고 있습니다: {unique_types}")
    else:
        print(f"컬럼 '{column}'은(는) 일관된 타입을 가지고 있습니다: {unique_types}")

now = datetime.datetime.now()
print('종료:', now)

시작: 2024-03-15 09:58:20.015582
컬럼 'uid'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'cluster_id'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'core'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'n_clu'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'edition'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'pubyear2'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'doctype2'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'tc'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.float64'>}
컬럼 'source'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'source_abbrev'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'item'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'issn'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'eissn'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'doi_all'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
종료: 2024-03-15 09:59:08.949681

In [26]:
# 각 컬럼의 데이터 타입 출력
for column in df1.columns:
    print(f"컬럼 '{column}'의 데이터 타입: {df1[column].dtype}")

컬럼 'uid'의 데이터 타입: object
컬럼 'cluster_id'의 데이터 타입: int64
컬럼 'core'의 데이터 타입: int64
컬럼 'n_clu'의 데이터 타입: int64
컬럼 'edition'의 데이터 타입: object
컬럼 'pubyear2'의 데이터 타입: int64
컬럼 'doctype2'의 데이터 타입: object
컬럼 'tc'의 데이터 타입: float64
컬럼 'source'의 데이터 타입: object
컬럼 'source_abbrev'의 데이터 타입: object
컬럼 'item'의 데이터 타입: object
컬럼 'issn'의 데이터 타입: object
컬럼 'eissn'의 데이터 타입: object
컬럼 'doi_all'의 데이터 타입: object

In [27]:
now = datetime.datetime.now() 
print('시작:', now)


# 각 컬럼별로 데이터 타입 일관성 체크
for column in df2.columns:
    # 결측값이 아닌 유니크한 값들의 타입 체크
    unique_types = set(type(v) for v in df2[column].dropna().unique())
    
    # 일관성 결과 출력
    if len(unique_types) > 1:
        print(f"컬럼 '{column}'은(는) 여러 타입을 포함하고 있습니다: {unique_types}")
    else:
        print(f"컬럼 '{column}'은(는) 일관된 타입을 가지고 있습니다: {unique_types}")

now = datetime.datetime.now()
print('종료:', now)

시작: 2024-03-15 10:02:42.110764
컬럼 'uid'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'cluster_id'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'pubyear2'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'item'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'aukey'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'abstract'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
종료: 2024-03-15 10:05:15.345325

In [29]:
# 각 컬럼의 데이터 타입 출력
for column in df2.columns:
    print(f"컬럼 '{column}'의 데이터 타입: {df2[column].dtype}")

컬럼 'uid'의 데이터 타입: object
컬럼 'cluster_id'의 데이터 타입: int64
컬럼 'pubyear2'의 데이터 타입: int64
컬럼 'item'의 데이터 타입: object
컬럼 'aukey'의 데이터 타입: object
컬럼 'abstract'의 데이터 타입: object

In [30]:
now = datetime.datetime.now() 
print('시작:', now)


# 각 컬럼별로 데이터 타입 일관성 체크
for column in df3.columns:
    # 결측값이 아닌 유니크한 값들의 타입 체크
    unique_types = set(type(v) for v in df3[column].dropna().unique())
    
    # 일관성 결과 출력
    if len(unique_types) > 1:
        print(f"컬럼 '{column}'은(는) 여러 타입을 포함하고 있습니다: {unique_types}")
    else:
        print(f"컬럼 '{column}'은(는) 일관된 타입을 가지고 있습니다: {unique_types}")

now = datetime.datetime.now()
print('종료:', now)

시작: 2024-03-15 10:06:38.109902
컬럼 'uid'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'cluster_id'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'pubyear2'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'refs_uid'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'refs_n'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'within_core'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
종료: 2024-03-15 10:17:05.356231

In [31]:
# 각 컬럼의 데이터 타입 출력
for column in df3.columns:
    print(f"컬럼 '{column}'의 데이터 타입: {df3[column].dtype}")

컬럼 'uid'의 데이터 타입: object
컬럼 'cluster_id'의 데이터 타입: int64
컬럼 'pubyear2'의 데이터 타입: int64
컬럼 'refs_uid'의 데이터 타입: object
컬럼 'refs_n'의 데이터 타입: int64
컬럼 'within_core'의 데이터 타입: int64

In [32]:
now = datetime.datetime.now() 
print('시작:', now)


# 각 컬럼별로 데이터 타입 일관성 체크
for column in df4.columns:
    # 결측값이 아닌 유니크한 값들의 타입 체크
    unique_types = set(type(v) for v in df4[column].dropna().unique())
    
    # 일관성 결과 출력
    if len(unique_types) > 1:
        print(f"컬럼 '{column}'은(는) 여러 타입을 포함하고 있습니다: {unique_types}")
    else:
        print(f"컬럼 '{column}'은(는) 일관된 타입을 가지고 있습니다: {unique_types}")

now = datetime.datetime.now()
print('종료:', now)

시작: 2024-03-15 10:17:05.369696
컬럼 'uid'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'cluster_id'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'pubyear'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'ref_n'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'refs_uid'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'cate_n'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'subject_traditional'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'within_core'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
종료: 2024-03-15 10:18:46.923574

In [33]:
# 각 컬럼의 데이터 타입 출력
for column in df4.columns:
    print(f"컬럼 '{column}'의 데이터 타입: {df4[column].dtype}")

컬럼 'uid'의 데이터 타입: object
컬럼 'cluster_id'의 데이터 타입: int64
컬럼 'pubyear'의 데이터 타입: int64
컬럼 'ref_n'의 데이터 타입: int64
컬럼 'refs_uid'의 데이터 타입: object
컬럼 'cate_n'의 데이터 타입: int64
컬럼 'subject_traditional'의 데이터 타입: object
컬럼 'within_core'의 데이터 타입: int64

In [34]:
now = datetime.datetime.now() 
print('시작:', now)


# 각 컬럼별로 데이터 타입 일관성 체크
for column in df5_pub_all_year.columns:
    # 결측값이 아닌 유니크한 값들의 타입 체크
    unique_types = set(type(v) for v in df5_pub_all_year[column].dropna().unique())
    
    # 일관성 결과 출력
    if len(unique_types) > 1:
        print(f"컬럼 '{column}'은(는) 여러 타입을 포함하고 있습니다: {unique_types}")
    else:
        print(f"컬럼 '{column}'은(는) 일관된 타입을 가지고 있습니다: {unique_types}")

now = datetime.datetime.now()
print('종료:', now)

시작: 2024-03-15 10:18:46.936498
컬럼 'cluster_id'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'subject_traditional'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'weight_cate'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.float64'>}
컬럼 'norm_weight_cate'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.float64'>}
종료: 2024-03-15 10:18:47.135542

In [35]:
# 각 컬럼의 데이터 타입 출력
for column in df5_pub_all_year.columns:
    print(f"컬럼 '{column}'의 데이터 타입: {df5_pub_all_year[column].dtype}")

컬럼 'cluster_id'의 데이터 타입: int64
컬럼 'subject_traditional'의 데이터 타입: object
컬럼 'weight_cate'의 데이터 타입: float64
컬럼 'norm_weight_cate'의 데이터 타입: float64

In [36]:
now = datetime.datetime.now() 
print('시작:', now)


# 각 컬럼별로 데이터 타입 일관성 체크
for column in df5_pub_by_year.columns:
    # 결측값이 아닌 유니크한 값들의 타입 체크
    unique_types = set(type(v) for v in df5_pub_by_year[column].dropna().unique())
    
    # 일관성 결과 출력
    if len(unique_types) > 1:
        print(f"컬럼 '{column}'은(는) 여러 타입을 포함하고 있습니다: {unique_types}")
    else:
        print(f"컬럼 '{column}'은(는) 일관된 타입을 가지고 있습니다: {unique_types}")

now = datetime.datetime.now()
print('종료:', now)

시작: 2024-03-15 10:18:47.147257
컬럼 'cluster_id'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'pubyear'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.int64'>}
컬럼 'subject_traditional'은(는) 일관된 타입을 가지고 있습니다: {<class 'str'>}
컬럼 'weight_cate'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.float64'>}
컬럼 'norm_weight_cate'은(는) 일관된 타입을 가지고 있습니다: {<class 'numpy.float64'>}
종료: 2024-03-15 10:18:49.418767

In [37]:
# 각 컬럼의 데이터 타입 출력
for column in df5_pub_by_year.columns:
    print(f"컬럼 '{column}'의 데이터 타입: {df5_pub_by_year[column].dtype}")

컬럼 'cluster_id'의 데이터 타입: int64
컬럼 'pubyear'의 데이터 타입: int64
컬럼 'subject_traditional'의 데이터 타입: object
컬럼 'weight_cate'의 데이터 타입: float64
컬럼 'norm_weight_cate'의 데이터 타입: float64

## 최종본 샘플 df

In [38]:
df1

,uid,cluster_id,core,n_clu,edition,pubyear2,doctype2,tc,source,source_abbrev,item,issn,eissn,doi_all
0,WOS:000241489600007,1,1,52329,WOS.SCI,2006,Article,2209.0,CHEMICAL GEOLOGY,CHEM GEOL,Hf isotopic compositions of the standard zirco...,0009-2541,1872-6836,10.1016/j.chemgeo.2006.05.003
1,WOS:000235430800004,1,1,52329,WOS.SCI,2006,Review,1336.0,JOURNAL OF PETROLOGY,J PETROL,The genesis of intermediate and silicic magmas...,0022-3530,1460-2415,10.1093/petrology/egi084
2,WOS:000236201900004,1,1,52329,WOS.SCI,2006,Article,1330.0,CONTRIBUTIONS TO MINERALOGY AND PETROLOGY,CONTRIB MINERAL PETR,Crystallization thermometers for zircon and ru...,0010-7999,1432-0967,10.1007/s00410-006-0068-5
3,WOS:000237306100004,1,1,52329,WOS.SCI,2006,Article,1267.0,EPISODES,EPISODES,Petrogenesis of Mesozoic granitoids and volcan...,0705-3797,NaN,10.18814/epiiugs/2006/v29i1/004
4,WOS:000238242200001,1,1,52329,WOS.SCI,2006,Review,1211.0,EARTH-SCIENCE REVIEWS,EARTH-SCI REV,Cenozoic tectonic evolution of the Himalayan o...,0012-8252,1872-6828,10.1016/j.earscirev.2005.05.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24339950,WOS:000661166500001,4215,1,71,WOS.SCI,2021,Article,4.0,INTERNATIONAL JOURNAL OF ROBUST AND NONLINEAR ...,INT J ROBUST NONLIN,Robust passive tracking control for an uncerta...,NaN,NaN,NaN
24339951,WOS:000741493600001,4215,1,71,WOS.SCI,2021,Article,3.0,AXIOMS,AXIOMS,GPU Based Modelling and Analysis for Parallel ...,NaN,NaN,NaN
24339952,WOS:000592049600001,4215,1,71,WOS.SCI,2021,Article,1.0,INTERNATIONAL JOURNAL OF SYSTEMS SCIENCE,INT J SYST SCI,Operator-based robust stability for nonlinear ...,NaN,NaN,NaN
24339953,WOS:000689390100001,4215,1,71,WOS.SCI,2021,Article,1.0,MACHINES,MACHINES,Operator-Based Nonlinear Control of Calorimetr...,NaN,NaN,NaN
24339954,WOS:000664877800004,4215,1,71,WOS.SCI,2021,Article,0.0,COMPLEXITY,COMPLEXITY,Sliding Mode Control of the Vehicle Speed Syst...,NaN,NaN,NaN

In [17]:
df2

,uid,cluster_id,pubyear2,item,aukey,abstract
0,WOS:000237306100010,1,2006,The IV International Symposium ProGEO on the C...,NaN,NaN
1,WOS:000245120500007,1,2006,Determination of alteration facies using the n...,NaN,The Selbaie Cu-Zn deposit is located in the no...
2,WOS:000237229500002,1,2006,Sulfur isotope characteristics of mesothermal ...,NaN,Stable isotope analyses were carried out on su...
3,WOS:000241391900008,1,2006,Polish listeners to the mineralogy lectures gi...,history of geology;RJ Hauy;influence of French...,The paper analyses a list of thirty-four Poles...
4,WOS:000241582600016,1,2006,Paleomagnetism of the wintering lake pluton an...,NaN,This Lithoprobe-funded paleomagnetic study of ...
...,...,...,...,...,...,...
24339950,WOS:000592049600001,4215,2021,Operator-based robust stability for nonlinear ...,Nonlinear control;coprime factorisation;robust...,"In this paper, the robust stability of nonline..."
24339951,WOS:000689390100001,4215,2021,Operator-Based Nonlinear Control of Calorimetr...,operator theory;nonlinear control;right coprim...,"Recently, the development of SiC and GaN high-..."
24339952,WOS:000741493600001,4215,2021,GPU Based Modelling and Analysis for Parallel ...,fractional order derivative model;GPU;a spiral...,Heat exchangers are commonly used in various i...
24339953,WOS:000661166500001,4215,2021,Robust passive tracking control for an uncerta...,integral sliding mode control;robust passive c...,"As a research of human arm activities, the res..."
24339954,WOS:000622690800001,4215,2021,Operator-Based Nonlinear Control for a Miniatu...,soft actuator;modeling;operator theory;nonline...,"Recently, the studies of soft actuators have b..."

In [18]:
df3

,uid,cluster_id,pubyear2,refs_uid,refs_n,within_core
0,WOS:000238935400002,1,2006,WOS:A1986D984800006,20,0
1,WOS:000238935400002,1,2006,WOS:000238935400002.14,20,0
2,WOS:000238935400002,1,2006,WOS:000176314100002,20,0
3,WOS:000238935400002,1,2006,WOS:000200604300007,20,0
4,WOS:000238935400002,1,2006,WOS:A1980KQ63900002,20,0
...,...,...,...,...,...,...
1016755482,WOS:000622690800001,4215,2021,WOS:A1997YL21400006,27,0
1016755483,WOS:000622690800001,4215,2021,WOS:000398700400005,27,1
1016755484,WOS:000622690800001,4215,2021,WOS:000229808000004,27,0
1016755485,WOS:000622690800001,4215,2021,WOS:000393457000007,27,0
1016755486,WOS:000622690800001,4215,2021,000622690800001.17,27,0

In [19]:
df4

,uid,cluster_id,pubyear,ref_n,refs_uid,cate_n,subject_traditional,within_core
0,WOS:000405694000104,8,2017,46,WOS:000439202400008,1,Gastroenterology & Hepatology,0
1,WOS:000447707900054,8,2018,40,WOS:000439202400008,1,Gastroenterology & Hepatology,0
2,WOS:000576146300001,8,2020,56,WOS:000439202400008,1,Gastroenterology & Hepatology,0
3,WOS:000530044900001,8,2020,60,WOS:000439202400008,1,Gastroenterology & Hepatology,0
4,WOS:000558676300014,8,2020,49,WOS:000439202400008,1,Gastroenterology & Hepatology,0
...,...,...,...,...,...,...,...,...
190156317,WOS:000656941800001,326,2021,76,WOS:000784460300004,1,"Psychology, Multidisciplinary",0
190156318,WOS:000721372300007,1025,2021,85,WOS:000784460300004,1,"Psychology, Multidisciplinary",0
190156319,WOS:000713726300001,2713,2021,51,WOS:000784460300004,1,"Psychology, Multidisciplinary",0
190156320,WOS:000473282700004,3633,2019,47,WOS:000813543000005,1,Law,0
190156321,WOS:000721175100001,369,2021,68,WOS:000721151300002,1,"Engineering, Multidisciplinary",0

In [20]:
df5_pub_all_year

,cluster_id,subject_traditional,weight_cate,norm_weight_cate
0,1,Acoustics,0.333333,0.000006
1,1,Agricultural Economics & Policy,0.000000,0.000000
2,1,Agricultural Engineering,0.000000,0.000000
3,1,"Agriculture, Dairy & Animal Science",0.000000,0.000000
4,1,"Agriculture, Multidisciplinary",0.000000,0.000000
...,...,...,...,...
1070605,4215,Veterinary Sciences,0.000000,0.000000
1070606,4215,Virology,0.000000,0.000000
1070607,4215,Water Resources,0.000000,0.000000
1070608,4215,Women's Studies,0.000000,0.000000
1070609,4215,Zoology,0.000000,0.000000

In [21]:
df5_pub_all_year_wide

,cluster_id,pubyear,Acoustics,Agricultural Economics & Policy,Agricultural Engineering,"Agriculture, Dairy & Animal Science","Agriculture, Multidisciplinary",Agronomy,Allergy,Anatomy & Morphology,...,Transportation,Transportation Science & Technology,Tropical Medicine,Urban Studies,Urology & Nephrology,Veterinary Sciences,Virology,Water Resources,Women's Studies,Zoology
0,1,all,0.000006,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000123,0.000000,0.000000
1,2,all,0.000013,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,all,0.000042,0.00000,0.000000,0.000308,0.000037,0.000000,0.002715,0.000173,...,0.000028,0.000014,0.004421,0.000056,0.010188,0.003936,0.075394,0.000085,0.000091,0.000896
3,4,all,0.001288,0.00000,0.000008,0.000000,0.000023,0.000000,0.000000,0.000011,...,0.000000,0.000011,0.000000,0.000000,0.000000,0.000000,0.000008,0.000285,0.000000,0.000000
4,5,all,0.000000,0.00261,0.000010,0.000076,0.000954,0.000303,0.000000,0.000000,...,0.000724,0.000264,0.000000,0.000374,0.000000,0.000061,0.000000,0.000131,0.000050,0.000030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4210,4211,all,0.000000,0.00000,0.000000,0.000000,0.005848,0.001462,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014620,0.000000,0.000000
4211,4212,all,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.007282,0.000000,0.000000,0.000000,0.000000,0.002427
4212,4213,all,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4213,4214,all,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4214,4215,all,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [22]:
df5_pub_by_year

,cluster_id,pubyear,subject_traditional,weight_cate,norm_weight_cate
0,1,2006,Acoustics,0.0,0.0
1,1,2006,Agricultural Economics & Policy,0.0,0.0
2,1,2006,Agricultural Engineering,0.0,0.0
3,1,2006,"Agriculture, Dairy & Animal Science",0.0,0.0
4,1,2006,"Agriculture, Multidisciplinary",0.0,0.0
...,...,...,...,...,...
17115023,4215,2021,Veterinary Sciences,0.0,0.0
17115024,4215,2021,Virology,0.0,0.0
17115025,4215,2021,Water Resources,0.0,0.0
17115026,4215,2021,Women's Studies,0.0,0.0
17115027,4215,2021,Zoology,0.0,0.0

In [23]:
df5_pub_by_year_wide

,cluster_id,pubyear,Acoustics,Agricultural Economics & Policy,Agricultural Engineering,"Agriculture, Dairy & Animal Science","Agriculture, Multidisciplinary",Agronomy,Allergy,Anatomy & Morphology,...,Transportation,Transportation Science & Technology,Tropical Medicine,Urban Studies,Urology & Nephrology,Veterinary Sciences,Virology,Water Resources,Women's Studies,Zoology
0,1,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000129,0.0,0.0
1,1,2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000308,0.0,0.0
2,1,2008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000368,0.0,0.0
3,1,2009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,1,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000125,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67377,4215,2017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
67378,4215,2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
67379,4215,2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
67380,4215,2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
67381,4215,2021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0